	<!-- NAVBAR -->
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand">	
				</a>
			</div>
			<nav class="navbar-collapse collapse" id="main-nav" role="navigation">
				<ul class="nav navbar-nav navbar-right nav-text-light">
					<li class="active"><a href="#top">HOME</a></li>
					<li><a href="#about">ABOUT ME</a></li>
				
					<li><a href="#services">SERVICES</a></li>
					<li><a href="#contact">CONTACT ME</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- END NAVBAR -->

	<!-- HERO UNIT -->
	<div id="hero-unit" class="hero-unit">
		<div class="hero-content text-center">
			<div class="container">
				<!-- <div class="row"> -->
					<!-- <div class="col-lg-6 col-lg-offset-3"> -->
						<div id="slidecaption" class="slide-caption">
							<div class="hero-text">
								<h2 class="hero-heading">VanderDrift <span class="name">Law</span></h2>
								<br />
								
								
								</div>
							</div>
						<!-- </div> -->
						<div class="hero-buttons">
							<a href="#about" id="btn-about" class="btn btn-info btn-lg"><i class="fa fa-arrow-circle-o-down"></i> LEARN MORE</a>
							<a href="#contact" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-phone-square"></i> GET IN TOUCH</a>
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<!-- END HERO UNIT -->
	

	<!-- MAIN CONTENT -->
	<div id="main-content" class="main-content">
		
		<!-- ABOUT -->
		<div id="about" class="section about">
			<div class="container">
				<div class="section-heading">
					<h2>ABOUT ME</h2>
					<!-- <p>A great beginning to know me</p> -->
					<hr />
				</div>
				<div class="row">
					<div class="col-sm-3">
						<%= image_tag "luke.jpg", class: "img-responsive img-thumbnail" %>
					</div>
					<div class="col-sm-9">
						<div class="section-content text-left">
							<p>Luke VanderDrift has more than eight years of experience and has represented clients in negotiations and litigation throughout Northern California.</p>

								<p>Previously Luke VanderDrift was a Deputy District Attorney in Los Angeles County for five years.  During this time, he represented the state in felony and misdemeanor trials, determined whether charges would be filed, and conducted juvenile delinquency hearings.  Luke VanderDrift left the District Attorney’s Office to return to the Bay Area and focus on a private practice. </p>

							<P>He received his BA from UCLA with honors and attended UCLA School of Law where he was a Teaching Fellow in Contracts and a Senior Articles Editor for the Entertainment Law Review.  After law school, Mr. VanderDrift was a clerk in the Los Angeles Superior Court that assisted judges in writing decisions in a variety of civil disputes.</P>

						
						</div>
					</div>
			</div>
		</div>
	</div>
		<!-- END ABOUT -->

	
		<!-- SERVICES -->
		<div id="services" class="section darker services" >
			<div class="container">
				<div class="section-heading">
					<h2>SERVICES</h2>
					<p>Serving The Greater Bay Area</p>
					<hr />
				</div>
				<div class="section-content">
					<div class="row">
						<div class="sol-sm-8 col-sm-offset-2">
							<div class="row text-left">
								<div class="col-md-6">
									<div class="service-item">
										<span class="icon-checkmark2 service-icon"></span>
										<div class="service-text ">
										
											<h3>Contract Disputes</h3>
										
											
											
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="service-item">
										<span class="icon-pen service-icon"></span>
										<div class="service-text">
											<h3>Real Property Issues</h3>
											
											
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="service-item">
										<span class="icon-lab service-icon"></span>
										<div class="service-text">
											<h3>Employment Accommodations</h3>
											
											
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="service-item">
										<span class="icon-phone service-icon"></span>
										<div class="service-text">
											<h3>Business Disputes</h3>
											
											
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="service-item">
										<span class="icon-pen service-icon"></span>
										<div class="service-text">
											<h3>Second Opinions</h3>
											
											
										</div>
									</div>
								</div>
									<div class="col-md-6">
									<div class="service-item">
										<span class="icon-pen service-icon"></span>
										<div class="service-text">
											<h3>Conflict Resolution</h3>
											
										
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SERVICES -->

		<!-- WORKS -->
	

		<!-- CONTACT -->
		<div id="contact" class="section contact">
			<div class="section-heading">
				<h2>GET IN TOUCH</h2>
				<p>Contact Luke VanderDrift About A Free Consultation</p>
				<hr />
			</div>
			<div class="section-content">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="contact-info">
								<ul class="list-unstyled">
							
									<li>
										<i class="fa fa-envelope pull-left"></i>
										<h3>Phone</h3>
										<p>+310 339 1267</p>
									</li>
									<li>
										<i class="fa fa-user pull-left"></i>
										<h3>Email</h3>
										<p><a href="mailto:vanderdrift@gmail.com">vanderdrift@gmail.com</a></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-8">
							<div class="contact-form">
								<div class="alert"></div>
								<form id="contact-form" method="post" role="form" novalidate>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="sr-only" for="name">Name:</label>	
												<input type="text" id="name" class="form-control" name="name" placeholder="Name*" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="sr-only" for="email">Email:</label>
												<input type="email" id="email" class="form-control" name="email" placeholder="Email*" required>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="sr-only" for="subject">Subject:</label>
										<input type="text" id="subject" class="form-control" name="subject" placeholder="Subject">
									</div>
									<div class="form-group">
										<label class="sr-only" for="message">Message:</label>
										<textarea id="message" name="message" class="form-control" placeholder="Message*" required></textarea>
									</div>
									<button type="submit" class="btn btn-primary btn-lg" id="submit-button">
										<i class="fa loading-icon"></i> <span>Send Message</span>
									</button>
									<input type="hidden" name="msg-submitted" id="msg-submitted" value="true"> 
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END CONTACT -->

	

	</div>
	<!-- END MAIN CONTENT -->

	<!-- FOOTER -->
	<footer id="footer" class="section">
		<div class="container">
			<p class="copyright pull-left">&copy; 2014. VanderDrift Law. All Rights Reserved.</p>
		</div>
	</footer>
	<!-- END FOOTER -->

	<div class="back-to-top">
		<a href="#top"><i class="fa fa-chevron-up"></i></a>
	</div>
